FRONTEND_CHAIN_ID=11155111
FRONTEND_CONTRACT_ADDRESS=0xc89571638C609a29cb5c00ad3997493d5fe8be67
FRONTEND_RPC_URL=https://ethereum-sepolia-rpc.publicnode.com
FRONTEND_ETHERSCAN_BASE_URL=https://sepolia.etherscan.io
SNAPSHOT_PATH=./snapshot/snapshot-25169317.json
PROOFS_OUTPUT_DIR=./public/proofs
