FRONTEND_CHAIN_ID=11155111
FRONTEND_CONTRACT_ADDRESS=0x82F6A5B9984082cAc12eA48c81FBc504877eFE10
FRONTEND_RPC_URL=https://ethereum-sepolia-rpc.publicnode.com
FRONTEND_ETHERSCAN_BASE_URL=https://sepolia.etherscan.io
SNAPSHOT_PATH=./snapshot/snapshot-25169317.json
PROOFS_OUTPUT_DIR=./public/proofs
