FRONTEND_CHAIN_ID=1
FRONTEND_CONTRACT_ADDRESS=
FRONTEND_RPC_URL=https://ethereum-rpc.publicnode.com
FRONTEND_ETHERSCAN_BASE_URL=https://etherscan.io
SNAPSHOT_PATH=./snapshot/snapshot-25182664.json
PROOFS_OUTPUT_DIR=./public/proofs
